.Nutri_outer{
  background-color: #f1f1ea;
  padding-bottom: 10vh;
}
.nutrition-container {
    display: flex;
    justify-content: center;
}

.nutri-title{
  margin-left: 6px;
  font-size: 1.5rem;
}

.nutrition-form{
    width: 50vw;
    margin: 6vh;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: #f0f0f0;
}
  
  .nutrition-form-label {
    display: block;
    margin: 8px;
  }
  
  .nutrition-form-input {
    width: 14vw;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
    position: relative;
    border: none; 
    margin-top: 8px;
  }
  
  .nutrition-submit-button {
    cursor: pointer;
    font-size: 1rem;
    width: 10vw;
    text-align: center;
    padding: 5px 10px;
    background-color: #21695c;
    color: #fff; 
    border-radius: 10px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


  .nutrition-submit-button:hover{
    background-color: #3a9e86; 
    box-shadow: none;
  }
  .nutrition-submit-button:disabled {
    background-color: #ccc;
}

.nutri-header{
  font-weight: bold;
  font-size: 1.6rem;
  margin: 8px;
  color: #21695c;
  font-family: Poppins, sans-serif;
}

.nutri-body{
  font-style: italic;
  margin: 8px
}

.radio{
  margin: 6px;
}

@media screen and (max-width : 960px) {
    .nutrition-form {
        width: 80vw;
    }
    .nutrition-form-input{
        width: 40vw;
    }
    .nutrition-submit-button{
      width: 25vw;
    }
    .nutri-header{
      font-size: 1.4rem;
    }
    .nutri-body{
      font-size: 0.9rem;
    }
}